{% extends 'WsunBundle:correo:base_correo.html.twig'%}
{% block cuerpo %}
    <fieldest>
        <legend class="text-center header">
{#            <img src="/var/www/html/wsun/web/bundles/wsun/images/cabecera.png" alt="" /> funciona#}
{#            <img src="{{ asset('bundles/wsun/images/cabecera.png') }}" alt="Symfony!" />f#}
            <br> Orden de pedidos de Sumnistros</legend>
        <div class="container-fluid">
        <table class="table table-bordered">
           
            <tr>
                <td></td> 
                <td><b>Nombre Empresa:</b></td>
                <td > {{pedido.IdUsuario.Departamento.IdEmpresa.NombreEmp}}</td>
                <td width="20"></td>
                <td><b>Fecha:</b></td>
                <td >{{ pedido.fechaCreacion.date |date('Y-m-d')  }}</td>
            </tr>
            <tr>
                <td></td> 
                <td><b>Ruc:</b></td>
                <td > {{ pedido.IdUsuario.Departamento.IdEmpresa.ruc   }}</td>
                <td width="20"></td>
                <td><b>Area:</b></td>
                <td >{{ pedido.IdUsuario.Departamento.nombreDep  }}</td>
                <td ><b>Estado:</b></td>
                <td >{% if pedido.estadoPedido %}Aprobado{% else %}Iniciado{% endif %}  </td>
            </tr>
            <tr>
                <td></td> 
                <td><b>Dir. Cliente:</b></td>
                <td > {{ pedido.IdUsuario.Departamento.IdEmpresa.DireccionEmp  }}</td>
                <td width="20"></td>
                <td><b>Responsable</b></td>
                <td >{{ pedido.IdUsuario.Departamento.Responsable  }}</td>
            </tr>
            <tr>
                <td></td> 
                <td><b>Tel&eacute;fono:</b></td>
                <td > {{ pedido.IdUsuario.Departamento.IdEmpresa.telefonoEmp  }}  </td>
                <td width="20"></td>
                <td><b>Orden Compra Sap</b></td>
                <td >{{ pedido.ordenSap }}</td>
                <td><span class="h2 text-info">C&oacute;digo</span> <br> N°:{{ pedido.codigoPedido}} </td>
               
            </tr>
        </table>
        
          <legend class="text-center header"></legend>
        <div class="count">
                <span class="label label-primary">
                Total: {{ pagination.getTotalItemCount }}
                </span>
            </div><br/>
    <table class="table table-bordered">
        <tr>
            {# sorting of properties based on query components #}
            <th>{{ knp_pagination_sortable(pagination, 'N°', '') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'CÓDIGO', '') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'DESCRIPCIÓN', '') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'CANTIDAD', '') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'VAL. UNIT', '') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'VAL. TOTAL', '') }}</th>
            
        </tr> 
        {% set contador= 1%}
        {% set total= 0 %}
        {% set iva= 0 %}
        {% set subtotal= 0 %}
        {% set sumasubtotal= 0 %}
        {% for pd in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ contador }}</td>    
                <td>{{ pd.codigo }}</td>
                <td>{{ pd.idProducto }}</td>
                <td>{{ pd.cantidad }}</td>
                <td>${{pd.valorUnitario|number_format(2,'.',',')}}</td>
                <td>${{pd.valorTotal|number_format(2,'.',',')}}</td>
                {% set total= total+ pd.valorTotal%}
                {% set subtotal= pd.cantidad* pd.valorUnitario%}
                {% set sumasubtotal= sumasubtotal+subtotal%}
                 <td>
            
                </td>
            </tr>
            {% set contador= contador+1%}
        {% endfor %}
        <tr><td></td><td colspan="4"><strong>Subtotal</strong></td><td><strong>{{sumasubtotal}}</strong></td></tr>  
        <tr><td></td><td colspan="4"><strong>Iva 12%</strong></td><td><strong>{{total-sumasubtotal}}</strong></td></tr>
        <tr><td></td><td colspan="4"><strong>Total</strong></td><td><strong>{{total}}</strong></td></tr> 
        
    </table> 
        
        </div>
            </fieldest>
         {% endblock %}
     