{% extends 'WsunBundle:Default:index.html.twig'%}

{% block bloque1 %}
  <div class="box">
    <fieldest>
     <legend class="text-center header">Detalle Pedido</legend>

    <table  width="50%" cellpadding="10"  > 
        <tbody>
            {#<tr>
                <th>Id: </th>
                <td>{{ detallePedido.id }}</td>
            </tr>#}
            <tr>
                
                <th class=" align right">Código:</th>
                <td>{{ detallePedido.codigo }}</td>
            </tr>
            <tr>
                <th>Cantidad: </th>
                <td>{{ detallePedido.cantidad }}</td>
            </tr>
            <tr>
                <th>Valor Unitario:</th>
                <td>{{ detallePedido.valorUnitario }}</td>
            </tr>
            <tr>
                <th>Valor total:</th>
                <td>{{ detallePedido.valorTotal }}</td>
            </tr>
            <tr>
                <th>Observaciones</th>
                <td>{{ detallePedido.observaciones }}</td>
            </tr>
        </tbody>
    </table>
            </fieldest>
    <ul>
        <li>
            <a href="{{ path('detallepedido_index',{ 'id': id }) }}">Regresar</a>
        </li>
        <li>
            <a href="{{ path('detallepedido_edit', { 'id': detallePedido.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    </div>
{% endblock %}
