{% extends 'WsunBundle:Default:index.html.twig'%}

{% block bloque1 %}
<div class="box">
    <div class="panel-body">
    <div class="panel2">
            <div class="panel-heading">
                <h3> <strong><span>Nuevo</span> Producto</strong></h3>
            </div> 
      
         {{ form_start(edit_form, { 'enctype':"multipart/form-data"}) }}
        <div class="row">
        <div class="col-xs-4 col-sm-3 col-lg-5 text-left">{{ form_label(edit_form.nombreProducto)}} </div>
        <div class="col-xs-5 col-sm-6 col-lg-4 text-left">{{ form_widget(edit_form.nombreProducto) }}</div>
    </div>        
    <div class="row">
        <div class="img-thumbnail">
            {% if (img is not null) %}
                       {% set imgn = "../Documentos/Productos/" ~ img %}
                       {{imgn}}
                       <img src=" {{img}}" />
                     {% endif %}
        </div>
        <div class="col-xs-4 col-sm-3 col-lg-5 text-left">{{ form_label(edit_form.imagen)}}  </div>
        <div class="col-xs-5 col-sm-6 col-lg-4 text-left">{{form_widget(edit_form.imagen)}}</div>
    </div>
      <div class="row">
        <div class="col-xs-4 col-sm-3 col-lg-5 text-left">{{ form_label(edit_form.codigoProducto)}}   </div>
        <div class="col-xs-5 col-sm-6 col-lg-4 text-left">{{ form_widget(edit_form.codigoProducto)}}</div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-sm-3 col-lg-5 text-left">{{ form_label(edit_form.observacion)}}   </div>
        <div class="col-xs-5 col-sm-6 col-lg-4 text-left">{{ form_widget(edit_form.observacion)}}</div>
      </div>
       <div class="row">
        <div class="col-xs-4 col-sm-3 col-lg-5 text-left">{{ form_label(edit_form.precioProducto)}}   </div>
        <div class="col-xs-5 col-sm-6 col-lg-4 text-left">{{ form_widget(edit_form.precioProducto)}}</div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-sm-3 col-lg-5 text-left">{{ form_label(edit_form.estado)}}   </div>
        <div class="col-xs-5 col-sm-6 col-lg-4 text-left">{{ form_widget(edit_form.estado)}}</div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-sm-3 col-lg-5 text-left">Categoria   </div>
        <div class="col-xs-5 col-sm-6 col-lg-4 text-left">{{ form_widget(edit_form.categoria)}}</div>
      </div>
      <div class="row">
          <input type="submit" value="Edit" />
      </div>
        
        {{ form_end(edit_form) }}
    </div> 
    <a href="{{ path('admin_producto_index') }}">Atras</a>
    
    <div class="row">
        {{ form_start(delete_form) }}
            <input type="submit"  class="btn btn-info" value="Borrar">
        {{ form_end(delete_form) }}
      </div>
 </div> </div>   
        
        
{% endblock %}
