{% extends 'WsunBundle:Default:index.html.twig'%}
{% block bloque1 %}
<div class="box">
    <div class="panel panel-azul">
        <fieldset>
            <legend class="text-center header">LISTA DE PRODUCTOS</legend>
            <table class="table table-condensed table-striped">
    <thead>
    <tr>
            <th class="col-sm-2">Nombre Producto</th>
            <th class="col-sm-2">Código Producto</th>
            <th class="col-sm-2">Estado</th>
            <th class="col-sm-2">Precio</th>
            <th class="col-sm-5">Acciones</th>
        </tr>   
  </thead>
    <tbody>
        {% for producto in productos %}
            <tr>
{#                <td><a href="{{ path('admin_producto_show', { 'id': producto.id }) }}">{{ producto.id }}</a></td>#}
                <td>{{ producto.nombreProducto }}</td>
                <td>{{ producto.codigoProducto }}</td>
                <td>{% if (producto.Estado=='1') %}
                        <span class="text-success" > Habilidado</span>
                        {% else %}
                        <span class="text-danger" > No Habilidado</span>
                    {% endif %}
                </td> 
                <td>{{ producto.precioProducto }}</td>
                <td>
                    <div class="row">
                        <div class="col-md-3">
                         <a href= "{{ path('admin_producto_show', { 'id': producto.id }) }}" class="btn btn-primary btn-sm">show</a>
                        </div>
                         <div class="col-md-2">
                         <a href= "{{ path('admin_producto_edit', { 'id': producto.id }) }}" class="btn btn-primary btn-sm">edit</a>
                        </div>
                        
                    </div>
                                       
                   
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

            <a href="{{ path('admin_producto_new') }}"> <span class="glyphicon glyphicon-file"> Nuevo</span></a>
                    </div></div>
{% endblock %}
