{% extends 'WsunBundle:Default:index.html.twig'%}

{% block bloque1 %}
<div class="box">
    <div class="panel-body">
    <div class="panel2">
            <div class="panel-heading">
                <h3> <strong><span>Nuevo</span> Producto</strong></h3>
            </div> 
      
         {{ form_start(form, { 'enctype':"multipart/form-data"}) }}
        <div class="row">
        <div class="col-xs-4 col-sm-3 col-lg-5 text-left">{{ form_label(form.nombreProducto)}} </div>
        <div class="col-xs-5 col-sm-6 col-lg-4 text-left">{{ form_widget(form.nombreProducto) }}</div>
    </div>        
    <div class="row">
        <div class="col-xs-4 col-sm-3 col-lg-5 text-left">{{ form_label(form.imagen)}}  </div>
        <div class="col-xs-5 col-sm-6 col-lg-4 text-left">{{form_widget(form.imagen)}}</div>
    </div>
      <div class="row">
        <div class="col-xs-4 col-sm-3 col-lg-5 text-left">{{ form_label(form.codigoProducto)}}   </div>
        <div class="col-xs-5 col-sm-6 col-lg-4 text-left">{{ form_widget(form.codigoProducto)}}</div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-sm-3 col-lg-5 text-left">{{ form_label(form.observacion)}}   </div>
        <div class="col-xs-5 col-sm-6 col-lg-4 text-left">{{ form_widget(form.observacion)}}</div>
      </div>
       <div class="row">
        <div class="col-xs-4 col-sm-3 col-lg-5 text-left">{{ form_label(form.precioProducto)}}   </div>
        <div class="col-xs-5 col-sm-6 col-lg-4 text-left">{{ form_widget(form.precioProducto)}}</div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-sm-3 col-lg-5 text-left">{{ form_label(form.estado)}}   </div>
        <div class="col-xs-5 col-sm-6 col-lg-4 text-left">{{ form_widget(form.estado)}}</div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-sm-3 col-lg-5 text-left">Categoria   </div>
        <div class="col-xs-5 col-sm-6 col-lg-4 text-left">{{ form_widget(form.categoria)}}</div>
      </div>
      <div class="row">
          <input type="submit" value="Create" />
      </div>
        
        {{ form_end(form) }}
    </div> 
    <a href="{{ path('admin_producto_index') }}">Back to the list</a>
 </div> </div>   
        
        
{% endblock %}
