{% extends 'WsunBundle:Default:index.html.twig'%}
{% block bloque1 %}
    
    <div class="box">
    <div class="panel panel-azul" style="height: 400px;">
    <fieldset>
    <legend class="text-center header">PRODUCTO</legend>
            
     <div class="row">
        <div class="col-xs-4 col-sm-3 col-lg-4 text-left">Nombre producto: </div>
        <div class="col-xs-5 col-sm-6 col-lg-4 text-left">{{ producto.nombreProducto  }}</div>
    </div>       
    
     <div class="row">
        <div class="col-xs-4 col-sm-3 col-lg-4 text-left">Nombre producto: </div>
        <div class="col-xs-5 col-sm-6 col-lg-4 text-left">{{ producto.nombreProducto  }}</div>
    </div> 
    <div class="row">
        <div class="col-xs-4 col-sm-3 col-lg-4 text-left">Imagen: </div>
        <div id="img-location">
                       <img src="{{asset(url) }}" alt="Producto" class="img-thumbnail">
{#                       <img src="{{ asset(url) | imagine_filter('my_thumb') }}" />#}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-sm-3 col-lg-4 text-left">Código Producto:: </div>
        <div class="col-xs-5 col-sm-6 col-lg-4 text-left">{{ producto.codigoProducto  }}</div>
    </div> 
    
    <div class="row">
        <div class="col-xs-4 col-sm-3 col-lg-4 text-left">Precio: </div>
        <div class="col-xs-5 col-sm-6 col-lg-4 text-left">{{ producto.precioProducto }}</div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-sm-3 col-lg-4 text-left">Observaciones: </div>
        <div class="col-xs-5 col-sm-6 col-lg-4 text-left">{{ producto.observacion }}</div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-sm-3 col-lg-4 text-left">Estado: </div>
        <div class="col-xs-5 col-sm-6 col-lg-4 text-left">{{ producto.estado }}</div>
    </div>                
    <div class="row">
        <div class="col-xs-4 col-sm-3 col-lg-5 text-left">Categoria: </div>
        <div class="col-xs-5 col-sm-6 col-lg-4 text-left">{{ producto.categoria }}</div>
    </div>  
    <div class="row">
        <div class="col-xs-4 col-sm-3 col-lg-5 text-left">Graba Iva: </div>
        <div class="col-xs-5 col-sm-6 col-lg-4 text-left">
            {%if (producto.iva==true)%}
                {{iva}}%
                {%else%}
                    0%
            {% endif %}
            </div>
    </div> 
    <br>
     <div class="row">
        <div class="col-md-2"> <a href="{{ path('admin_producto_index') }}" class="btn btn-primary btn-sm">Atras</a></div>
         {% if is_granted('ROLE_ADMIN')%}
        <div class="col-md-2"> <a href="{{ path('admin_producto_edit', { 'id': producto.id }) }}" class="btn btn-primary btn-sm">Editar</a></div>
        <div class="col-md-2">
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-primary btn-sm">
            {{ form_end(delete_form) }}
        </div>
         {% endif %}
    </div>
    </fieldset>
    </div>
</div>
       

{% endblock %}
