{% extends 'WsunBundle:Default:index.html.twig'%}
{% block bloque1 %}
   
    <div class="panel panel-azul">
    <fieldest>
    <legend class="text-center header">Producto</legend>
        <div class="container-fluid">
        <div class="row text-justify">
          <div class="col-md-2"></div>
          <div class="col-md-4 b"><b>Imagen:</b></div>
          <div class="col-md-4 right" ><img src="{{asset(url) }}" alt="Producto" class="img-thumbnail"></div>
          <div class="col-md-2"></div>
        </div>
        <div class="row text-justify">
          <div class="col-md-2"></div>
          <div class="col-md-4"><b>Nombre producto:</b></div>
          <div class="col-md-4">{{ producto.nombreProducto }}</div>
          <div class="col-md-2"></div>
        </div>
        <div class="row text-justify">
          <div class="col-md-2"></div>
          <div class="col-md-4 "><b>Código Producto:</b></div>
          <div class="col-md-4">{{ producto.codigoProducto }}</div>
          <div class="col-md-2"></div>
        </div> 
        <div class="row text-justify">
          <div class="col-md-2"></div>
          <div class="col-md-4 "><b>Observaciones</b></div>
          <div class="col-md-4">{{ producto.observacion }}</div>
          <div class="col-md-2"></div>
        </div>
        <div class="row text-justify">
          <div class="col-md-2"></div>
          <div class="col-md-4 "><b>Categoria: </b></div>
          <div class="col-md-4">{{ producto.categoria }}</div>
          <div class="col-md-2"></div>
        </div>  
         <div class="row text-justify">
          <div class="col-md-2"></div>
          <div class="col-md-4 "><b>Graba Iva: </b></div>
          <div class="col-md-4">{%if (producto.iva==true)%}
                {{iva}}%
                {%else%}
                    0%
            {% endif %}</div>
          <div class="col-md-2"></div>
        </div> 
          <br>
          </div>
           </fieldest>
     <div class="row">
        <div class="col-md-2"> <a href="{{ path('admin_producto_index') }}" class="btn btn-primary btn-sm">Atras</a></div>
         {% if is_granted('ROLE_ADMIN')%}
        <div class="col-md-2"> <a href="{{ path('admin_producto_edit', { 'id': producto.id }) }}" class="btn btn-primary btn-sm">Editar</a></div>
        <div class="col-md-2">
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-primary btn-sm">
            {{ form_end(delete_form) }}
        </div>
         {% endif %}
    </div>
    
    
</div>
       

{% endblock %}
