{% extends 'WsunBundle:Default:index.html.twig'%}

{% block bloque1 %}
<div class="box">
    <div class="panel panel-azul">
        <fieldset>
            <legend class="text-center header">LISTA DE USUARIOS</legend>
             <div class="count">
                <span class="label label-primary">
                Total: {{ pagination.getTotalItemCount }}
                </span>
            </div><br/>
     <table class="table table-bordered">
        <tr>
            {# sorting of properties based on query components #}
            <th>{{ knp_pagination_sortable(pagination, 'N°', '') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'USUARIO', '') }}</th>
           {# <th{% if pagination.isSorted('e.nombreProducto') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'NOMBRE PRODUCTO', 'e.nombreProducto') }}
            </th>#}
            <th>{{ knp_pagination_sortable(pagination, 'RUC', '') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'CORREO', '') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'ACCIONES', '') }}</th>
 
        </tr>    
        {% set contador= 1%}
        {% for user in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ contador }}</td>
                <td><a href="{{ path('admin_user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.username }}</td>
                <td>{{ user.ruc }}</td>
                <td>{{ user.correo }}</td>
                <td>
                    <div class="row">
                        <div class="col-md-3">
                         <a href= "{{ path('admin_user_show', { 'id': user.id }) }}" class="btn btn-primary btn-sm">show</a>
                        </div>
                         <div class="col-md-2">
                         <a href= "{{ path('admin_user_edit', { 'id': user.id }) }}" class="btn btn-primary btn-sm">edit</a>
                        </div>
                        
                    </div></td>
            </tr>
            {% set contador= contador+1%}
        {% endfor %}
          </table>
        </fieldset>
            <a href="{{ path('admin_user_new') }}"> <span class="glyphicon glyphicon-file"> Nuevo</span></a>
                    </div></div>      
               
        
{% endblock %}
