{% extends 'WsunBundle:Default:index.html.twig'%}

{% block bloque1 %}
<div class="box">
<div class="panel panel-azul">
    <fieldest>
    <legend class="text-center header"><strong><span>Nuevo</span> Usuario</strong></legend>
	
    {{ form_start(form,{'class':"form-horizontal",'method':"POST"})}}
    <table  width="90%" cellpadding="10"  > 
         <tr>
                <td > <span class="help-block text-muted text-center" > {{ form_label(form.username)}}</td>
                <td> {{ form_widget(form.username) }}</td>
        </tr>
		<tr>
				<td>{{form_label(form.password.first)}}</td>
				<td>{{ form_widget(form.password.first) }}</td>
			</tr>
			<tr>
				<td>{{form_label(form.password.second)}}</td>
				<td>{{ form_widget(form.password.second) }}{{form_errors(form.password.first)}}.</td>
			</tr>
			<tr>
                <td > <span class="help-block text-muted text-center" > {{ form_label(form.ruc)}}</td>
                <td> {{ form_widget(form.ruc   ) }}</td>
        </tr>
        <tr>
                <td > <span class="help-block text-muted text-center" > {{ form_label(form.correo)}}</td>
                <td> {{ form_widget(form.correo) }}</td>
        </tr>
        <tr>
                <td > <span class="help-block text-muted text-center" > {{ form_label(form.departamento)}}</td>
                <td> {{ form_widget(form.departamento) }}</td>
        </tr>
        <tr>
                <td > <span class="help-block text-muted text-center" > {{ form_label(form.user_roles)}}</td>
                <td> {{ form_widget(form.user_roles) }}</td>
        </tr>
        <div class="row">
            <div class="col-md-3">
            <input type="submit" value="Create" />
            </div>
            <div class="col-md-3">
                <a class="btn btn-info" href="{{ path('admin_user_index') }}">Regresar</a>
            </div>
             </div>

    </table>
        </fieldest>
    {{ form_end(form) }}
    </div></div>
{% endblock %}


