{% extends 'WsunBundle:Default:index.html.twig'%}

{% block bloque1 %}
  <div class="box">
    <fieldest>
     <legend class="text-center header">Usuario</legend>
     <table  width="50%" cellpadding="10"  > 
        <tbody>
            <tr>
                <th class=" align right">Id: </th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th class=" align right">Username:</th>
                <td>{{ user.username }}</td>
            </tr>
             <tr>
                <th class=" align right">Ruc:</th>
                <td>{{ user.ruc }}</td>
            </tr>
             <tr>
                <th class=" align right">Correo:</th>
                <td>{{ user.correo }}</td>
            </tr>
            <tr>
                <th class=" align right">Departamento:</th>
                <td>{{ user.departamento.nombreDep }}</td>
            </tr>
     </tbody>
    </table>
    </fieldest>
    <br>
    <a href="{{ path('admin_user_index') }}">Volver</a><br>
    <a href="{{ path('admin_user_edit', { 'id': user.id }) }}">Edit</a> <br>
    {{ form_start(delete_form) }}
        <input type="submit" value="Delete">
    {{ form_end(delete_form) }}
   
{% endblock %}
