{% extends 'WsunBundle:Default:index.html.twig'%}

{% block bloque1 %}
<div class="box">
    <div class="panel panel-azul">
    {% for message in app.session.flashbag().get('status')%}
        <div class="alert alert-danger">
            {{message}}
        </div>
    {% endfor%}
    
    <div class="col-xs-12">
    <form name="formulario" action="{{path('admin_guarda_producto_empresa')}}" method="POST">
    <div class="col-xs-12">
            <h4>Empresa: </h4>
            <div class="form-group">
                <div class="col-xs-12" id="autocomplete_container_empresa">
                    <div class="input-group">
                        <input type="text" class="typeahead empresa form-control input-sm" id="ruc" placeholder="Buscar empresa">

                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" type="button" onclick="limpiarEmpresa();
                                    return false;"><span class="glyphicon glyphicon-refresh"></span> Limpiar</button>
                        </span>
{#                                        <a href ="{{path('admin_productos_empresa_index',{'id' : '1'|default('1')})}}">Agregar Productos</a>#}
                        <span class="input-group-btn">
                            <button id="btnBuscarProductos" class="btn btn-primary btn-sm" type="button" onclick="aceptar();
                                    return false;">Buscar Productos</button>
                        </span>
                        {#<span class="input-group-btn">
                            <button id="btnGuardarEmpresa" class="btn btn-primary btn-sm" type="button" onclick="guardar();
                                    return false;">Guardar</button>
                        </span>#}
                        <input class="btn btn-primary btn-sm" type="submit" value="Guardar">
                       <input type="hidden" name="empresaId" id="empresaId" />
                    </div>
                </div>
            </div>
        </div>	
    
    <div class="row" id="div_producto">
   
        {#<table class="table-striped head-fixed " >
            <thead><tr>
                <th width="150" class="center"><input type="checkbox" id="seleccionarTodos"/>  Seleccionar</th>
                <th>Producto</th>
                
                </tr>
            </thead>
            <tbody id="tablaProducts">#}
                {#{% set contador = 1 %}
                {% for producto in productos %}
                    
                <tr>
                    <td class="text-center"><input class="selProducto" type="checkbox" name="productos[{{ producto.id }}][id]" value="{{ producto.id }}"/></td>
                    <td style="vertical-align: middle;"><strong>{{ contador }}.- </strong>  {{ producto.nombreProducto }} {{ (producto.estado == '0') ? '<span class="text-danger"><strong>(INACTIVO)</strong></span>' : '' }}</td>
        {#            <td><input type="text" class="form-control input-sm capacidadProducto" id="capacidad{{ producto.id }}" name="productos[{{ producto.id }}][capacidad]" /></td>#}
              {#  </tr>
                {% set contador = contador + 1 %}
            {% else %}
                <tr>
                    <td colspan="3" class="text-info">
                        No se encontraron resultados
                    </td>
                </tr>
            {% endfor %}#}
            {#</tbody>
        </table>#}
    </div>
    <div id="respuesta" style="border:1px red  ">
    </div>    
    
    </form>
    </div>
    </div> </div></div>
{%endblock%}
{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function () {
           $('span').click(function(){
                $('#InputToFocus').focus();
            });
            $("#seleccionarTodos").click(function() {
            if ($(this).is(':checked')) {
                $(".selProducto").prop("checked", true);
            }else{
                $(".selProducto").prop("checked", false);
            }
        });
            $('.typeahead.empresa').autocomplete(
                    {
                        minChars: 3,
                        serviceUrl: '{{ path('wsun_empresa_autocomplete') }}',
                        onSelect: function(suggestion) {
                             $id_convenio = suggestion.data;
                            $('#empresaId').val($id_convenio);
                            $("#div_producto").hide();
                             $("#btnGuardarEmpresa").prop('disabled', false);
                        }
                        ,
                        autoSelect: true,
                       
                        autoFocus: true,
                        appendTo: '#autocomplete_container_empresa'
                    }
            );
        });
       var limpiarEmpresa = function(){
       
            $("#ruc").val('');
            $('#empresaId').val('');
            $("#ruc").prop('disabled',false);
            $("#btnBuscarEmpresa").prop('disabled', true);

        }
        
     
            var aceptar = function() {
                
            if ($('#empresaId').val() == ''){
                alert("Por favor, seleccione una Empresa");
                return false;
            } else {
                var $id_empresa =$('#empresaId').val() ;
                $.ajax({
                    method: 'POST',
                    data: {'id': $id_empresa },
                    url:"{{path('admin_productos_empresa_select')}}",
                    context: document.body
                }).done(function(data) {
                    
                    $('#div_producto').html(data);
                    $("#div_producto").show();
                });
               
            }
        }
     
        var validarProductos = function () {
            var banCapacidadproductiva = true;
            if ($('#empresaId').val() =='' ){
                alert('Seleccione una Empresa.');
                return false;
            }

            if ($('#tablaProducts input[type=checkbox]:checked').length ==0){
                alert('Seleccione un producto');
                return false;
            }
            
         {#   $('#tablaProducts input[type=checkbox]:checked').each(function () {
                     
                    var idProducto = $(this).val();
                    if ($('#capacidad' + idProducto).val() == '') {
                        alert('Ingrese capacidad Productiva');
                        $('#capacidad' + idProducto).focus();
                        banCapacidadproductiva = false;
                        return false;
                    } else if (isNaN($('#capacidad' + idProducto).val()) || $('#capacidad' + idProducto).val() % 1 != 0) {
                        alert('Capacidad Productiva invalida, ingrese solo números enteros.');
                        $('#capacidad' + idProducto).focus();
                        banCapacidadproductiva = false;
                        return false;
                    } 
                    else if (!parseInt($('#capacidad' + idProducto).val())) {
                        alert('Ingrese capacidad Productiva');
                        $('#capacidad' + idProducto).val('');
                        $('#capacidad' + idProducto).focus();
                        banCapacidadproductiva = false;
                        return false;
                    }
                });#}
                
              {#  if (!banCapacidadproductiva) {
                    return false;
                }#}
                
            return true;
        };
        var guardar = function () {
            if (!validarProductos()){
                return false;
            }
            var empresa_id = $('#empresaId').val();
            
            var producto = '';
{#            var capacidades= '';#}
             $('#tablaProducts input[type=checkbox]:checked').each(function () {
                var idProducto = $(this).val();
                var capacidad = $('#capacidad' + idProducto).val();
                
                producto +=  idProducto+',';
{#                capacidades+= (capacidad?capacidad:'--')+',';#}
            });
            producto = producto.slice(0,-1);
{#            capacidades = capacidades.slice(0,-1);#}
            var contador = 1;
            var errores=0;
            $.ajax({
                    async:false,
                    complete: function(xhr, data)
                    {
                        if (xhr.responseText.search('<head class="login">') < 50 && xhr.responseText.search('<head class="login">') != - 1){
                            location.reload();
                        }
                    },
                   
                    method: 'POST',
{#                    data: { 'ids_productos':producto,  'empresa_id':empresa_id, 'capacidades':capacidades },#}
                    data: { 'ids_productos':producto,  'empresa_id':empresa_id },
                    url: "{{ path('admin_guarda_producto_empresa')}}",
                    context: document.body
                }).done(function(dataJson) {
                   //
                   if (dataJson['error']==1){
                        $('#respuesta').html('<strong style="color:green;">'+dataJson['mensaje']+'</strong>');
                        errores=1;
                    } else if(dataJson['error']==0){
                        $('#respuesta').html('<strong style="color:red;">'+dataJson['mensaje']+'</strong>');
                        //$('#respuesta').append('<tr><td width="100">'+contador+'</td><td><div>'+dataJson['mensaje']+'</div></td></tr>');
                    }
                    contador += 1;
                });
                if (errores){
                    return false;
                }
        }; 
       var aceptar_empresa = function() {
        }
        </script>
{%endblock%}