{% extends "base.html.twig" %}

{% block body %}
<div class="container">    
  
    <div class="encabezado">
           
      <div style="width:25%; float:left; display:block;">
      <a href="#"><img src="{{asset('../img/logo.png')}}"></a>
      </div>
      <div style="clear:both"></div> 
      <div style="width:30%; float:left; display:block;">
      <form class="navbar-form navbar-left" role="search" onsubmit="return buscar_global();">
            <input id='buscar_input' type="text" class="form-control" placeholder="Buscar" value="{{app.session.get('VALOR_BUSQUEDA','')}}"/>
            <button class="btn btn-default" type="button" onclick='buscar_global(); return false;'>
            <span class="glyphicon glyphicon-search"></span>
            </button>
      </form>
    </div>
        
        
       {# <a href="#"><img src="{{asset('../img/logo.png')}}"></a> 
       <form class="navbar-form navbar-left" role="search" onsubmit="return buscar_global();">
            <input id='buscar_input' type="text" class="form-control" placeholder="Buscar" value="{{app.session.get('VALOR_BUSQUEDA','')}}"/>
            <button class="btn btn-default" type="button" onclick='buscar_global(); return false;'>
            </button>#}
            </div>
  
<div class="menu-div">
  <ul class=" menu">
      
  <li class="active"><a href="{{path('wsun_homepage')}}">Home</a></li>
  <li ><a href="{{path('wsun_contactos')}}">Contactos</a></li>
  <li ><a href="#">Messages</a></li>
  <li ><a href="{{path('pedido_index')}}">Pedidos</a></li>
  <li ><a href="#">Administrador</a>
 <ul>
    <li><a href ="{{path('empresa_index')}}">Empresa</a></li>
    <li><a href ="{{path('admin_departamento_index')}}">Departamentos</a></li>
    <li><a href ="{{path('admin_producto_index')}}">Productos</a></li>
    <li><a href ="{{path('admin_categoria_index')}}">Categoria</a></li>
    <li><a href ="{{path('wsun_productos_empresa_index')}}">Agregar Productos</a></li>
  </ul></li>
  </ul>
</div>
<div id="slider">
  
    {% block bloque1 %}
     
<div class="box">

                <section id ="miSlider" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#miSlider " data-slide-to="0" class="active"></li>
                        <li data-target="#miSlider" data-slide-to="1"></li>
                        <li data-target="#miSlider" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active"><img src="{{asset('../img/slider/1.png')}}" alt="First Slide"></div>
                        <div class="item"><img src="{{asset('../img/slider/2.png')}}" alt="Second Slide"></div>
                        <div class="item"><img src="{{asset('../img/slider/3.png')}}" alt="Third Slide"></div>
                    </div>
                    <a class="carousel-control left" href="#miSlider" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="carousel-control right" href="#miSlider" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </section>
            </div>
<!--</div>-->
    
    
    {% endblock %}
    
</div>
                    </div>
 <div id="pie">
     <h3>Isla Genovesa N. 42-118 y Tomás de Berlanga, Quito /226803 / 2920660 /2921385 </h3>
                
                Todos los derechos reservados
            </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>    
    $('#btn1').on("click",function(){
        alert("Hola");
    });
    
    function Calc(){
        var cant = $('#detallepedido_cantidad').val();
        var valunit = $('#detallepedido_valorUnitario').val();
        var total=cant*valunit;
        $('#detallepedido_valorTotal').val(total);
    }
    buscar_global = function() {
        if ($('#buscar_input').val() !== '') {
            window.location = '{{ path('wsun_buscar') }}?valor=' + $('#buscar_input').val();
        } else {
            window.location = '{{ path('wsun_buscar') }}';
        }
        return false;
    };
    
    
    
    </script>
    
{% endblock %}