
<div class="box">
<div class="panel panel-azul">
<div class="col-xs-12">    
{% set contador = 1 %}

<div id="categoria" class="col-xs-4">
    <ul class="vertical-menu">
        {% set array_cat =[] %}
                            {% for cat in categoria %}
                                {% if (cat.padreId=='')%}
                                   {% set array_cat = array_cat|merge([cat.id])  %}
                                    <li ><a href="#cat{{cat.id}}"  data-toggle="tab">{{cat.nombreCat}}</a></li>
                                
                                {% endif%}
                            {% endfor %}
                            
                        </ul>
    
</div>
<div id="producto" class="col-xs-8">  
    
        {% for acat in array_cat %}
           
        <div class="tab-pane fade " id="cat{{acat}}"> 
            
            <div class="div_prod" >  
             <div class="row col-xs-12 text-left">
             <div class="col-xs-2"><input class="selProducto" type="checkbox" id="seleccionarTodos{{acat}}" onclick="seleccion({{acat}})"/></div><div> <b>Seleccionar todos </b> </div>
             </div>
             
        <div class="col-xs-8 " id="form_area{{acat}}">

            {#% for producto in productos %#}
            {% for key, producto in productos %}
                {#{ dump(producto)}#}
                {% set valor ='' %}
                {% for prod in idprod %}
                    {% if(producto.id==prod) %}
                        {% set valor ='checked' %}
                    {% endif %}
                {% endfor %}
                {#% if(acat==producto.categoria.padreId)%#}
                <div class="row col-xs-12 text-left">
                <div class="col-xs-2"><input class="selProducto" type="checkbox" name="productos[{{ producto.id }}][id]" value="{{ producto.id }}" {{valor}}></div><div class="col-xs-8">{{ producto.codigoProducto }}:{{ producto.nombreProducto }}</div>
                </div>
                {#}% endif %#}
            {% endfor %}
        </div></div>
{#            {% for producto in productos %}
                 {% set valor ='' %}
                 {% for prod in idprod %}
                     {% if(producto.id==prod) %}
                         {% set valor ='checked' %}
                     {% endif %}
                 {% endfor %} 
{#                {{dump(producto.id,idprod)}}#}
                
                 {#{% if(acat==producto.categoria.padreId)%}
                     <tr>
                         <td class="text-center" width="200">
                             <input class="selProducto" type="checkbox" name="productos[{{ producto.id }}][id]" value="{{ producto.id }}" {{valor}}></td><td width="400" class="lbl1">{{ producto.codigoProducto }}:{{ producto.nombreProducto }}</td>
                     </tr>   
                 
                 {% endif %}
            {% endfor %}#}
        
             
        </div>
        {% endfor %}
 
</div>
</div>  </div> </div>     
<script>
    $(window).ready(function() {
        $("#seleccionarTodos").click(function() {
            if ($(this).is(':checked')) {
                $(".selProducto").prop("checked", true);
            }else{
                $(".selProducto").prop("checked", false);
            }
        });
    });
  var seleccion = function(id){
   
               if ($("#seleccionarTodos"+id).is(':checked')) {
                   $('#form_area'+id+' input[type=checkbox]').prop("checked", true);
                    
                }else{
                   $('#form_area'+id+' input[type=checkbox]').prop("checked", false);
                
                    //$('#prod'+id+' input[type=checkbox]').prop("checked", false);
                }
            //});
        
   
}
</script>