
<div class="box">
<div class="panel panel-azul">
<div class="col-xs-12">    
{% set contador = 1 %}

<div id="categoria" class="col-xs-4">
    <ul class="vertical-menu">
        {% set array_cat =[] %}
                            {% for cat in categoria %}
                                {% if (cat.padreId=='')%}
                                   {% set array_cat = array_cat|merge([cat.id])  %}
                                    <li ><a href="#cat{{cat.id}}"  data-toggle="tab">{{cat.nombreCat}}</a></li>
                                
                                {% endif%}
                            {% endfor %}
                            
                        </ul>
    
</div>
<div id="producto" class="col-xs-8">  
    
        {% for acat in array_cat %}
        <div class="tab-pane fade " id="cat{{acat}}"> 
            
            <table border="1" table-striped head-fixed>
            <thead><tr>
                 <th  class="center"><input class="selProducto" type="checkbox" id="seleccionarTodos"/>  Seleccionar</th>
                 <th>Producto</th>

                 </tr>
             </thead>
            {% for producto in productos %}
                 {% if(acat==producto.categoria.padreId)%}
                     <tr>
                         <td class="text-center" width="200">
                             <input class="selProducto" type="checkbox" name="productos[{{ producto.id }}][id]" value="{{ producto.id }}"></td><td width="400" class="lbl1">{{ producto.codigoProducto }}:{{ producto.nombreProducto }}</td>
                     </tr>   
                 
                 {% endif %}
            {% endfor %} 
             </table>
        </div>
        {% endfor %}
 
</div>
</div>  </div> </div>     
<script>
    $(window).ready(function() {
        $("#seleccionarTodos").click(function() {
            if ($(this).is(':checked')) {
                $(".selProducto").prop("checked", true);
            }else{
                $(".selProducto").prop("checked", false);
            }
        });
    });
</script>