{% extends 'WsunBundle:Default:index.html.twig'%}

{% block bloque1 %}

<div class="panel panel-azul">
<div id="categoria" class="col-sm-4">
    
  
<div class="panel panel-cuerpo-gris-oscuro categorias-home">
<div class="panel-heading">
<strong>Categorías</strong>
</div>
<div class="panel-body">
<ul class="vertical-menu">
        {% set array_cat =[] %}
                            {% for cat in categoria %}
                                {% if (cat.padreId=='')%}
                                   {% set array_cat = array_cat|merge([cat.id])  %}
                                    <li class="btn-link" ><a href="#cat{{cat.id}}"  data-toggle="tab">{{cat.nombreCat}}</a></li>
                                
                                {% endif%}
                            {% endfor %}
                            
                        </ul>
</div>
</div>  
   
</div>
<div id="producto" class="col-xs-8">  
    <div class="panel-body">
        
        {% for acat in array_cat %}
        <div class="tab-pane fade " id="cat{{acat}}"> 
           
            <table border="1" table-striped head-fixed width="400"> 
                <ul class="col-sm-12">
                    {%set total= productos| length%}
                    {%set i= 1%}
            {% for producto in productos %}
                
                <div class="col-sm-3">
                     {% if(acat==producto.categoria.padreId)%}
                 
                             <div class="crsl-wrap"><img width="80" height="80" src="{{ asset('../Documentos/Productos/' ~  producto.id ~ '.' ~producto.imagen ) }}"/>
                             <a href="{{path('admin_producto_show',{'id':producto.id})}}">{{ producto.codigoProducto }}:{{ producto.nombreProducto }}</a>
                             </div>
                </div>    
                
                        
                 {% endif %}
            {% endfor %}
                </ul>
            </tr>   

             </table>
        </div>
        {% endfor %}
 
    </div>
</div>  </div>   
<script>
    $(window).ready(function() {
        $("#seleccionarTodos").click(function() {
            if ($(this).is(':checked')) {
                $(".selProducto").prop("checked", true);
            }else{
                $(".selProducto").prop("checked", false);
            }
        });
    });
</script>
{%endblock%}