
    <div class="panel panel-azul">
        <div class="panel-heading">
            <strong><span class="icon-list"> Productos</span></strong>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12 ">
                    <table id= "tablaProductos" class="table table-bordered table-condensed table-striped table-hover head-fixed">
                        <thead>
                        <div class="col-xs-2">
                        <span class="input-group-btn">
                        <button onclick="guardar();return false;" class="btn btn-primary btn-sm">
                            <span class="icon-save"> Guardar</span>
                        </button></div> <div class="col-xs-10" id="respuesta">
                                </div> 
                        </thead>
                        <tbody>
                            <tbody>
                                {% set contador=0 %}
                                <div class="row">
                                                <div div class="col-xs-1"> 
                                                
                                                </div>
                                                <div div class="col-xs-5">
                                                    <input class="selProducto " type="checkbox" id="seleccionarTodos" /> <b>Seleccionar todos </b>
                                                </div>
                                                 <div div class="col-xs-4">
                                                     <b>Precio del Producto </b>
                                                </div>
                                            </div>
                                <div class="col-xs-12" id="form_area">
                                        <ul class="list-unstyled">
                                            
                                            {% for key, prod in productos %}
                                                {% set contador=contador+1 %}
                                                    <li>
                                                        <div class="row">
                                                        <div div class="col-xs-6"> 
                                                            {{prod.nombreProducto}} 
                                                        </div>
                                                        <div div class="col-xs-1"> 
                                                            {% set valor=''%}
                                                            {% set cantidad=''%}
                                                            {% for pe in pem %}
                                                                {%if(pe.producto.id ==prod.id) %}
                                                                    {% set valor='checked'%}
                                                                    {% set cantidad=pe.capacidad%}
                                                                {% endif %}
                                                            {%endfor%}
                                                            
                                                            <input class="selProducto" type="checkbox"  name="productos[{{ prod.id }}][id]" value="{{ prod.id }}" {{valor}}>
                                                            </div>
                                                            <div  class="col-xs-3"> 
                                                            <input type="text" class="form-control input-sm capacidadProducto" id="capacidad{{ prod.id }}" value="{{cantidad}}" name="productos[{{ prod.id  }}">
                                                            </div>        
                                                      
                                                        <div  <div  class="col-xs-2" style="padding-bottom: 10px; display: block; width: 100%;overflow:auto;">
                                                        </div>
                                                        </li>
                                                           
                                                        {% endfor %}
                                
                                        </ul>   </div>  
                                </div>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
  <script>
    $(window).ready(function() {
        $("#seleccionarTodos").click(function() {
            if ($(this).is(':checked')) {
                $(".selProducto").prop("checked", true);
            }else{
                $(".selProducto").prop("checked", false);
            }
        });
    });
  

</script>      