{% extends 'WsunBundle:Default:index.html.twig'%}

{% block bloque1 %}
<div class="box">

    <fieldset>

        <legend class="text-center header"><strong><span>Lista</span> de Categorias</strong></legend>
        <table class="table table-condensed table-striped">
            <thead>
            <tr>
                <th class="col-sm-2">Nombre Categoria</th>
                <th class="col-sm-1">Tipo</th>
                <th class="col-sm-5">Acciones</th>
            </tr>
            </thead>
            <tbody>

        {% for categorium in categorias %}
            <tr>
                <td><a href="{{ path('admin_categoria_show', { 'id': categorium.id }) }}">{{ categorium.nombreCat }}</a></td>
                
                <td>{% if(categorium.estado=='1')%}
                    Categoria principal
                        {% else %}
                        Sub - categoria
                    {% endif %}
                   </td>
                
                <td>
                    <div class="row">
                        <div class="col-md-2">
                            <a href= "{{ path('admin_categoria_show', { 'id': categorium.id }) }}" class="btn btn-primary btn-sm">Ver</a>
                        </div>
                        <div class="col-md-2">
                            <a href= "{{ path('admin_categoria_edit', { 'id': categorium.id }) }}" class="btn btn-primary btn-sm">Editar</a>
                        </div>

                    </div>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<a href="{{ path('admin_categoria_new') }}"> <span class="glyphicon glyphicon-file"> Nuevo</span></a>
 </div>    
{% endblock %}
