{% extends 'WsunBundle:Default:index.html.twig'%}

{% block bloque1 %}
<div class="box">
    {% for message in app.session.flashbag().get('status')%}
        <div class="alert alert-success">
            {{message}}
        </div>
    {% endfor%} 
    <div class="panel panel-azul">
        <div class="row">
            <div class="col-xs-6">
                <div class="selector-empresa">
                    <label class="col-sm-4 control-label">Pedido: </label>
                    <div class="col-sm-8 form-control-static">
                        <select id="selector_empresa" name="selector_empresa" class="chosen-select" required="required" tabindex="2">
                            <option disabled selected value="0">Seleccione...</option>
                            {% for key, e in empresa %}
                                <option value="{{e.id}}" >{{ e.nombreEmp }} - Cod: {{e.codigoPedido}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            {% if is_granted('ROLE_USER') %}
            <a href="{{ path('pedido_new') }}"> <span class="glyphicon glyphicon-file"> Nuevo</span></a>
            {% endif %}      
            </div>
            <div class="col-xs-6">
                <div class="selector-empresa">
                    <label class="col-sm-4 control-label">Estado: </label>
                    <div class="col-sm-8 form-control-static">
                        <select id="estado" name="estado" class="chosen-select" required="required" tabindex="2">
                            <option disabled selected value="">Seleccione...</option>
                            <option  value="0">Pendiente</option>
                            <option  value="1">Aceptado</option>
                            {#% for key, e in pagination %}
                                <option value="{{e.id}}" >{{ e.codigoPedido }}({{ e.nombreEmp }})</option>
                            {% endfor %#}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        
        <fieldset>
            <legend class="text-center header">LISTA DE PEDIDOS</legend>
            <div id="tabla_lista">
             <div class="count">
                <span class="label label-primary">
                Total: {{ pagination.getTotalItemCount }}
                </span>
            </div><br/>

        <table class="table table-bordered">
            <tr>
            {# sorting of properties based on query components #}
            <th>{{ knp_pagination_sortable(pagination, 'N°', '') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'CÓDIGO', '') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'EMPRESA', '') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'DEPARTAMENTO', '') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'ESTADO', '') }}</th>
           <th>{{ knp_pagination_sortable(pagination, 'FECHA CREACIÓN', '') }}</th>
           <th>{{ knp_pagination_sortable(pagination, 'ACCIONES', '') }}</th>
        </tr> 
         {% set contador= 1%}
        {% for pedido in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ contador }}</td>
                <td>{{ pedido.codigoPedido }}</td>
                <td>{{ pedido.nombreEmp }}</td>
                <td>{{ pedido.nombreDep }}</td>
                <td>{% if pedido.estadoPedido %}Aprobado{% else %}Pendiente{% endif %}</td>
                <td>{{ pedido.fechaCreacion|date('Y-m-d')  }}</td> 
                <td>
                    <div class="row">
                        <div class="col-md-3">
                         <a href= "{{ path('pedido_show', { 'id': pedido.id }) }}" class="btn btn-primary btn-sm">show</a>
                        </div>
                         <div class="col-md-2">
                         <a href= "{{ path('pedido_edit', { 'id': pedido.id }) }}" class="btn btn-primary btn-sm">edit</a>
                        </div>
                        <div class="col-md-2">
                            <div class="col-md-3"><a href ="{{path('addpedido_index',{'idPedido':pedido.id,'id' :pedido.idEmpresa |default('empresa')})}}" class="btn btn-primary btn-sm">Productos</a></div>
{#                             <a href= "{{ path('detallepedido_index',{ 'id':pedido.id,'idEmpresa':pedido.idEmpresa }) }}" class="btn btn-primary btn-sm">products</a>#}
                        </div>
                    </div>
                </td>
            </tr>
            {% set contador= contador+1%}
        {% endfor %}
    </table>
        </div>
</fieldset>
 
  
</div></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
    $("#selector_empresa").click(function(){
        var id=$(this).val();
        var estado = $('#estado').val();

        //var desde =$('#form_desde').val();
        //var hasta =$('#form_hasta').val();
       // var empresa_id = $('#selector_empresa').val();
        $.ajax({
            method: 'POST',
           // data: {id:id,empresa_id:empresa_id,desde:desde,hasta:hasta },
            data: {id:id,estado:estado },
            url: "{{ path('wsun_reporte_consulta_pedido_empresa') }}",
            context: document.body
        }).done(function(data) {

            $('#tabla_lista').html(data);
        });
    });
    $("#estado").change(function(){
        var estado=$(this).val();
        var id = $('#selector_empresa').val();
                //var hasta =$('#form_hasta').val();
                // var empresa_id = $('#selector_empresa').val();
                $.ajax({
                    method: 'POST',
                    // data: {id:id,empresa_id:empresa_id,desde:desde,hasta:hasta },
                    data: {id:id,estado:estado },
                    url: "{{ path('wsun_reporte_consulta_pedido_empresa') }}",
                    context: document.body
                }).done(function(data) {

                    $('#tabla_lista').html(data);
                });
            });
        });
    </script>  
{% endblock %}
