{% extends 'WsunBundle:Default:index.html.twig'%}

{% block bloque1 %}
<div class="box">
    
        <fieldset>
            
            <table class="table table-condensed table-striped">
    <thead>
    <tr>
            <th class="col-sm-2">Código</th>
            <th class="col-sm-1">Estado</th>
            <th class="col-sm-2">Total Pedido</th>
            <th class="col-sm-5">Acciones</th>
        </tr>   
  </thead>
  <tbody>
    {% for pedido in pedidos %}
            <tr>
{#                <td><a href="{{ path('pedido_show', { 'id': pedido.id }) }}">{{ pedido.id }}</a></td>#}
                <td>{{ pedido.codigoPedido }}</td>
                <td>{% if pedido.estadoPedido %}Aprobado{% else %}Pendiente{% endif %}</td>
                <td>{{ pedido.totalPedido }}</td>
                <td>
                    <div class="row">
                        <div class="col-md-2">
                         <a href= "{{ path('pedido_show', { 'id': pedido.id }) }}" class="btn btn-primary btn-sm">show</a>
                        </div>
                         <div class="col-md-2">
                         <a href= "{{ path('pedido_edit', { 'id': pedido.id }) }}" class="btn btn-primary btn-sm">edit</a>
                        </div>
                        <div class="col-md-2">
                         <a href= "{{ path('detallepedido_index',{ 'id':pedido.id }) }}" class="btn btn-primary btn-sm">products</a>
                        </div>
                    </div>
                    </td>
            </tr>
        {% endfor %}
  </tbody>
  <a href="{{ path('pedido_new') }}"> <span class="glyphicon glyphicon-file"> Nuevo</span></a>
</table>
</fieldset>
</div>
<script type="text/javascript">
      {{ parent() }}  
    

    </script>  
{% endblock %}
