{% extends 'WsunBundle:Default:index.html.twig'%}

{% block bloque1 %}
    
<div class="box">
    <fieldset>
    <legend class="text-center header">PEDIDO</legend>
            
     <div class="row">
        <div class="col-xs-4 col-sm-3 col-lg-4 text-left">Fecha: </div>
        <div class="col-xs-5 col-sm-6 col-lg-4 text-left">{{ pedido.fechaCreacion.date |date('Y-m-d')  }}</div>
    </div>       
     <div class="row ">
        <div class="col-xs-4 col-sm-3 col-lg-4 text-left">Id: </div>
        <div class="col-xs-5 col-sm-6 col-lg-4 text-left">{{ pedido.id }}</div>
    </div>
     <div class="row">
        <div class="col-xs-4 col-sm-3 col-lg-4 text-left">Codigo de Pedido: </div>
        <div class="col-xs-5 col-sm-6 col-lg-4 text-left">{{ pedido.codigoPedido }}</div>
    </div>
     <div class="row">
        <div class="col-xs-4 col-sm-3 col-lg-4 text-left">Estado: </div>
        <div class="col-xs-5 col-sm-6 col-lg-4 text-left">{% if pedido.estadoPedido %}Aprobado{% else %}Pendiente{% endif %}</div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-sm-3 col-lg-4 text-left">Codigo de Pedido: </div>
        <div class="col-xs-5 col-sm-6 col-lg-4 text-left">{{ pedido.codigoPedido }}</div>
    </div>
    <div class="row">
       
        <div class="col-xs-4 col-sm-3 col-lg-4 text-left"> Total de Pedido: </div>
        <div class="col-xs-5 col-sm-6 col-lg-4 text-left">{{ pedido.totalPedido }}</div>
    </div>
    <br>
     <div class="row">
       
        <div class="col-md-2"> <a href="{{ path('pedido_index') }}" class="btn btn-primary btn-sm">Back to the list</a></div>
        <div class="col-md-2">
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-primary btn-sm">
            {{ form_end(delete_form) }}
        </div>
    </div>
    </fieldset>
</div>
 
{% endblock %}
