{% extends 'WsunBundle:Default:index.html.twig'%}

{% block bloque1 %}
 <div class="box">
    <div class="panel panel-azul">
    <fieldest>
        <legend class="text-center header"><div class="encabezado" style="height: 100px;width: 70%;"></div> <br> Orden de pedidos de Sumnistros</legend>
        <div class="container-fluid">
        <div class="row text-left">
          <label class="col-md-2 control-label">Nombre Empresa:</label>
          <div class="col-md-3">{{pedido.IdUsuario.Departamento.IdEmpresa.NombreEmp}}</div>
          <label class="col-md-2 control-label">Fecha:</label>
          <div class="col-md-3">{{ pedido.fechaCreacion.date |date('Y-m-d')  }}</div>
          <div class="col-md-2"></div>
        </div> 
          
        <div class="row text-left">
          <label class="col-md-2 control-label">Ruc:</label>
          <div class="col-md-3">{{ pedido.IdUsuario.Departamento.IdEmpresa.ruc  }}</div>
          <label class="col-md-2 control-label">Area:</label>
          <div class="col-md-3">{{ pedido.IdUsuario.Departamento.nombreDep  }}</div>
          <label class="col-md-1 control-label">Estado:</label>
          <div class="col-md-1">{% if pedido.estadoPedido %}Aprobado{% else %}Iniciado{% endif %}</div>
          
          <div class="col-md-1"></div>
        </div> 
        <div class="row text-left">
          
          <label class="col-md-2 control-label">Dir. Cliente:</label>
          <div class="col-md-3">{{ pedido.IdUsuario.Departamento.IdEmpresa.DireccionEmp  }}</div>
          <label class="col-md-2 control-label">Responsable</label>
          <div class="col-md-3">{{ pedido.IdUsuario.Departamento.Responsable  }} </div>
          <div class="col-md-1"></div>
           <div class="col-md-1"></div>
        </div> 
        
        <div class="row text-left">
         <label class="col-md-2 control-label">Tel&eacute;fono:</label>
          <div class="col-md-3">{{ pedido.IdUsuario.Departamento.IdEmpresa.telefonoEmp  }}</div>
          <label class="col-md-2 control-label">Orden Compra Sap</label>
          <div class="col-md-3">{{ pedido.ordenSap }} </div>
          <div class="col-md-1"><span class="h4 text-info">Orden Compra</span> <br> N°:{{ pedido.codigoPedido}} </div>
        </div> 
        <div class="row text-left">
         <label class="col-md-2 control-label">Aprobado por:</label>
          <div class="col-md-3">{{aprobador}}</div>
          <label class="col-md-2 control-label"></label>
          <div class="col-md-3"> </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <a href="{{ path('pedido_index') }}" class="icon-backward btn btn-primary btn-sm">Back</a>
            </div>
            <div class="col-md-3">
               <a href="{{ path('pedido_pdf',{ 'id': pedido.id }) }}" class=" btn btn-primary btn-sm">Exportar pdf</a> 
            </div>
             <div class="col-md-3">
                {% if( pedido.estadoPedido=='1')%}
                 <input type="button" id="btnAprobar" disabled="true" class="btn btn-primary btn-sm" value="Aprobar Orden" >
                 {%else%}
                   {% if is_granted('ROLE_ACEPTAR_PEDIDO') %}
                        <input type="button" id="btnAprobar" class="btn btn-primary btn-sm" value="Aprobar Orden" onClick="AprobarOrden({{pedido.id}})">
                    {% endif %}  
                
                {%endif%}
            </div>
             <div class="col-md-3">
               <a href ="{{path('addpedido_index',{'idPedido':pedido.id,'id' :pedido.IdUsuario.Departamento.IdEmpresa.id |default('empresa')})}}" class="btn btn-primary btn-sm">Editar Productos</a>
            </div>
        </div>
            <div id="mensaje"></div>
        
        <legend class="text-center header"></legend>
        <div class="count">
                <span class="label label-primary">
                Total: {{ pagination.getTotalItemCount }}
                </span>
            </div><br/>
    <table class="table table-bordered">
        <tr>
            {# sorting of properties based on query components #}
            <th>{{ knp_pagination_sortable(pagination, 'N°', '') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'CÓDIGO', '') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'DESCRIPCIÓN', '') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'CANTIDAD', '') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'VAL. UNIT', '') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'VAL. TOTAL', '') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'ACCIONES', '') }}</th>
        </tr> 
        {% set contador= 1%}
        {% set total= 0 %}
        {% set iva= 0 %}
        {% set subtotal= 0 %}
        {% set sumasubtotal= 0 %}
        {% for pd in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ contador }}</td>    
                <td>{{ pd.codigo }}</td>
                <td>{{ pd.idProducto }}</td>
                <td>{{ pd.cantidad }}</td>
                <td>${{pd.valorUnitario|number_format(2,'.',',')}}</td>
                <td>${{pd.valorTotal|number_format(2,'.',',')}}</td>
                {% set total= total+ pd.valorTotal%}
                {% set subtotal= pd.cantidad* pd.valorUnitario%}
                {% set sumasubtotal= sumasubtotal+subtotal%}
                 <td>
                    <div class="row">
                        <a   href= "{{ path('detallepedido_edit', { 'id': pd.id }) }}" class="btn btn-primary btn-sm">edit</a>
                    </div>
                </td>
            </tr>
            {% set contador= contador+1%}
        {% endfor %}
        <tr><td></td><td colspan="4"><strong>Subtotal</strong></td><td><strong>{{sumasubtotal}}</strong></td></tr>  
        <tr><td></td><td colspan="4"><strong>Iva 12%</strong></td><td><strong>{{total-sumasubtotal}}</strong></td></tr>
        <tr><td></td><td colspan="4"><strong>Total</strong></td><td><strong>{{total}}</strong></td></tr> 
       </table> 
     {#     <div class="col-md-4"><a href="{{ path('pedido_edit', { 'id': pedido.id }) }}" class="btn btn-primary btn-sm">Edit</a></div>
     <div class="col-md-4">
        {{ form_start(delete_form) }}
         <input type="submit" value="Delete" class="btn btn-primary btn-sm">
     {{ form_end(delete_form) }}
   </div>#}
      
        
         </div>
        </fieldest>
    
      </div> </div>
{%endblock%}
{% block javascripts %}
    {{ parent() }} 
<script type="text/javascript">
    $(document).ready(function(){
   // alert(Ingreso);//código a ejecutar cuando el DOM está listo para recibir instrucciones.
    });
 
    function AprobarOrden(id) {
        var agree=confirm("¿Esta seguro de Aprobar la orden? ");
        if (agree){ 
          $.ajax({
                complete: function(xhr,data)
                {
                    if(xhr.responseText.search('<head class="login">') < 50 && xhr.responseText.search('<head class="login">')  != -1 ){
                        location.reload();
                    }
                },
                data: {'id': id},
                //type: "POST",
                url: "{{ path('wsun_aceptar_orden')}}"

            }).success(function(dataJSON) {
                
                $('#mensaje').html(dataJSON.mensaje).addClass('text-info');
                $('#btnAprobar').attr("disabled", true);
            })  
        //return true ;
       }else return false ;

       }
    
       
</script>
{% endblock %}
