{% extends 'WsunBundle:Default:index.html.twig'%}

{% block bloque1 %}
<div class="box">  
     <div class="panel panel-azul">
            <strong><span class="icon-list"> Reportes</span> de órdenes por provincia</strong>
        <div class="panel-body">
            {% for message in app.session.flashbag().get('status')%}
        <div class="alert alert-success">
            {{message}}
        </div>
        </div>
        {% endfor%}
            
        {{ form_start(form) }}
            <div class="row">
                <div class="col-sm-4">
                    {{ form_row(form.nombre, {'label':'Ruc/Empresa','onkeydown':'if (event.keyCode == 13) {
                                            return false;}'}) }}
                    <div  id="autocomplete_container_empresa">
                    </div>
                </div>
            </div> 

            <div class="row">
                <div class="col-sm-4">
                    {{ form_row(form.provincia, {'class': 'horizontal'}) }}
                </div>
                <div class="col-sm-4">
                    {{ form_row(form.desde, {'style': 'horizontal'} ) }}
                </div>
                <div class="col-sm-4">
                   {{ form_row(form.hasta, {'style': 'horizontal'} ) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <button id='btnBuscar' class="btn btn-primary">Buscar</button>
                </div>
                <div class="col-sm-4">
                    <a class="btn btn-danger" href="{#{ path('sercop_sercop_bundle_admin_reportes_proveedores') }#}" >Reiniciar búsqueda</a>
                </div>
{#                {% if (proveedores|length) %}#}
                <div class="col-sm-4">
                    <button id='btnExportar' class="btn btn-warning">Exportar a CSV</button>
                </div>
{#                        {% endif %}#}
            </div>
            
            {{ form_end(form)}}
    </div>
    <div>
    <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Empresa</th>
                        <th>Ruc</th>
                        <th>Departamento</th>
                        <th>Productos</th>
                        <th>cantidad</th>
                        
                    </tr>
                </thead>
                <tbody>
               {% for orden in ordenes[0] %}
                    
                    <tr>
                        
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9"> No se encontraron registros</td>
                    </tr>
                {% endfor %}#}
                </tbody>
            </table>
        </div>
    
</div>
{% endblock %}
 {% block javascripts %}
     {{ parent() }}
    <script type="text/javascript">
         $(document).ready(function () {
     
            $('.typeahead.empresa').autocomplete(
                    {
                        minChars: 3,
                        serviceUrl: '{{ path('wsun_bundle_admin_reportes_empresaProd_ajax') }}',
                        onSelect: function(suggestion) {
                             $id_convenio = suggestion.data;
                            $('#form_idEmpresa').val($id_convenio);
                            //$("#div_producto").hide();
                             $("#btnGuardarEmpresa").prop('disabled', false);
                        }
                        ,
                        autoSelect: true,
                        autoFocus: true,
                        appendTo: '#autocomplete_container_empresa'
                    }
            );
              $( "#btnBuscar" ).click(function() {
                   
                $('#pagina').val(1);
                $('#exportar').val('');
            });
            $( "#btnExportar" ).click(function() {
                $('#exportar').val('csv');
            });
        });
        
    </script>
   {% endblock %}