{% extends 'WsunBundle:Default:index.html.twig'%}

{% block bloque1 %}

    <div class="panel panel-azul">
        <strong><span class="icon-list"> Reportes</span> de órdenes por Empresa</strong>
        <div class="panel-body">
            {% for message in app.session.flashbag().get('status')%}
            <div class="alert alert-success">
                {{message}}
            </div>
        </div>
        {% endfor%}

        {{ form_start(form) }}

        <div class="row">
            <div class="col-xs-6">
                <div class="selector-empresa">
                    <label class="col-sm-4 control-label">Empresas: </label>
                    <div class="col-sm-8 form-control-static">
                        <select id="selector_empresa" name="selector_empresa" class="chosen-select" required="required" tabindex="2">
                            <option disabled selected value="0">Seleccione...</option>
                            {% for key, e in empresa %}
                                <option value="{{e.id}}" >{{ e.ruc }}   ({{e.nombreEmp}})</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="selector-departamento">
                    <label class="col-sm-4 control-label">Departamento: </label>
                    <div class="col-sm-8 form-control-static">
                        <select id="selector_departamento" class="chosen-select" tabindex="2">
                            <option disabled selected value="0">Seleccione...</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <label class="col-sm-4 control-label">{{ form_label(form.desde) }}: </label>
                <div class="col-sm-8 form-control-static">
                    {{ form_widget(form.desde, {'style': 'horizontal'} ) }}
                </div>
            </div>
            <div class="col-xs-6">
                <label class="col-sm-4 control-label">{{ form_label(form.hasta) }}: </label>
                <div class="col-sm-8 form-control-static">
                    {{ form_widget(form.hasta, {'style': 'horizontal'} ) }}
                </div>
            </div>
        </div>
        {# <div class="col-sm-4">
             {{ form_row(form.nombre, {'label':'Ruc/Empresa','onkeydown':'if (event.keyCode == 13) {
                                     return false;}'}) }}
             <div  class="text-left table bg-info" id="autocomplete_container_empresa">
             </div>
         </div>#}

        <div class="row">
            <div class="col-sm-4">
                {#<button id='btnBuscar' class="btn btn-primary">Buscar Pedido</button>#}
                <a id='btnBuscar' class="btn btn-info" href="#" >Buscar Pedido</a>
            </div>
            <div class="col-sm-4">
                <a class="btn btn-info" href="{#{ path('sercop_sercop_bundle_admin_reportes_proveedores') }#}" >Reiniciar</a>
            </div>
            <div class="col-sm-4">
                <a id='btnExportar' class="btn btn-info" href="#" >Exportar(CSV)</a>
                {#<a class="btn btn-info" href="{{ path('admin_generar_csv') }}" >Exportar(CSV)</a>#}
            </div>

            <div class="col-sm-2">
                <a class="btn btn-primary" href="{{ path('admin_reportes') }}">Atras</a>
            </div>
        </div>
        <input type="text" id="id_departamento"/>
        <div class="form-group">
            <div class="col-xs-12" id="form_productos">

            </div>
        </div>
    </div>

    {{ form_end(form)}}

{% endblock %}
 {% block javascripts %}
     {{ parent() }}
     <script type="text/javascript">
         $(document).ready(function () {
             $("#btnExportar").click(function(){

                 var id =$('#form_desde').val();
                 var desde =$('#form_desde').val();
                 var hasta =$('#form_hasta').val();
                 var empresa_id = $('#selector_empresa').val();
                 $.ajax({
                     method: 'POST',
                     data: {id:id,empresa_id:empresa_id,desde:desde,hasta:hasta },
                     url: "{{ path('admin_generar_csv') }}",
                     context: document.body
                 }).done(function(data) {
                     $('#form_productos').html(data);
                 });
             });
             $("#btnBuscar").click(function(){

                 var id =0;
                 var desde =$('#form_desde').val();
                 var hasta =$('#form_hasta').val();
                 var empresa_id = $('#selector_empresa').val();
                 $.ajax({
                     method: 'POST',
                     data: {id:id,empresa_id:empresa_id,desde:desde,hasta:hasta },
                     url: "{{ path('wsun_reporte_consulta_pedido') }}",
                     context: document.body
                 }).done(function(data) {

                     $('#form_productos').html(data);
                 });
             });


             $("#selector_empresa").click(function(){
                 var id=$(this).val();

                 $.ajax({
                     async:false,
                     complete: function(xhr, data)
                     {
                         if (xhr.responseText.search('<head class="login">') < 50 && xhr.responseText.search('<head class="login">') != - 1){
                             location.reload();
                         }
                     },
                     method: 'POST',
                     data: {'id':id},
                     url: "{{ path('wsun_reporte_consulta_departamento')}}",
                     context: document.body
                 }).done(function(dataJson) {
                     $(".selector-departamento select ").html('');
                     $(".selector-departamento select").append('<option disabled selected value="0">Seleccione...</option>');
                     $.each(dataJson.data, function(index,value){
                         $(".selector-departamento select").append('<option style=" "    value="'+value.id+'">'+value.nombreDep+'</option>');
                     });
                     $("#selector_departamento").trigger("chosen:updated");

                 });
             });

             $("#selector_departamento").chosen().change(function(){
                 var id = $(this).val();
                 var desde =$('#form_desde').val();
                 var hasta =$('#form_hasta').val();
                 var empresa_id = $('#selector_empresa').val();
                 $.ajax({
                     method: 'POST',
                     data: {id:id,empresa_id:empresa_id,desde:desde,hasta:hasta },
                     url: "{{ path('wsun_reporte_consulta_pedido') }}",
                     context: document.body
                 }).done(function(data) {

                     $('#form_productos').html(data);
                 });
             });
             $('#selector_departamento').chosen();


             $(".form_datetime").datepicker({format: 'yyyy-mm-dd'});
             $('.typeahead.empresa').autocomplete(
                 {
                     minChars: 3,
                     serviceUrl: '{{ path('wsun_bundle_admin_reportes_empresaProd_ajax') }}',
                     onSelect: function(suggestion) {
                         $id_convenio = suggestion.data;
                         $('#form_idEmpresa').val($id_convenio);
                         //$("#div_producto").hide();
                         $("#btnGuardarEmpresa").prop('disabled', false);
                     }
                     ,
                     autoSelect: true,
                     autoFocus: true,
                     appendTo: '#autocomplete_container_empresa'
                 }
             );
             $( "#btnBuscar" ).click(function() {

                 $('#pagina').val(1);
                 $('#exportar').val('');
             });
             $( "#btnExportar" ).click(function() {
                 $('#exportar').val('csv');
             });
         });

     </script>
 {% endblock %}