{% extends 'WsunBundle:Default:index.html.twig'%}

{% block bloque1 %}
    <div class="box">
          {% for message in app.session.flashbag().get('status')%}
        <div class="alert alert-danger">
            {{message}}
        </div>
    {% endfor%}
    <div class="panel-body">
    <div class="panel2">
            <div class="panel-heading">
                <h3> <strong><span>Edicion</span> de Departamentos</strong></h3>
            </div> 
        {{ form_start(edit_form) }}    
    <div class="row">
        <div class="col-xs-4 col-sm-3 col-lg-5 text-left">{{ form_label(edit_form.nombreDep)}} </div>
        <div class="col-xs-5 col-sm-6 col-lg-4 text-left">{{ form_widget(edit_form.nombreDep) }}</div>
    </div>        
    <div class="row">
        <div class="col-xs-4 col-sm-3 col-lg-5 text-left">{{ form_label(edit_form.responsable)}}  </div>
        <div class="col-xs-5 col-sm-6 col-lg-4 text-left">{{form_widget(edit_form.responsable)}}</div>
    </div>
      <div class="row">
        <div class="col-xs-4 col-sm-3 col-lg-5 text-left">{{ form_label(edit_form.telefono)}}   </div>
        <div class="col-xs-5 col-sm-6 col-lg-4 text-left">{{ form_widget(edit_form.telefono)}}</div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-sm-3 col-lg-5 text-left">{{ form_label(edit_form.valor)}}   </div>
        <div class="col-xs-5 col-sm-6 col-lg-4 text-left">{{ form_widget(edit_form.valor)}}</div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-sm-3 col-lg-5 text-left">Empresa   </div>
        <div class="col-xs-5 col-sm-6 col-lg-4 text-left">{{ form_widget(edit_form.idEmpresa)}}</div>
      </div>
      <div class="row">
           <input type="submit" value="Edit" />
      </div>

    {{ form_end(edit_form) }}
     <table>
    <tr><td> <a href="{{ path('admin_departamento_index') }}" ><i class="fa fa-camera-retro fa-lg" aria-hidden="true"></i> Back to the list</a></td></tr>
    
            <tr><td>
        {{ form_start(delete_form) }}
        <button type="submit" ><i class="fa fa-camera-retro fa-lg" aria-hidden="true"></i> Delete</button>
        {{ form_end(delete_form) }}
                    
        </td></tr>
</table> 
       
 </div> </div>
    </div>
{% endblock %}
