{% extends 'WsunBundle:Default:index.html.twig'%}

{% block bloque1 %}
        
<div class="box">
    {% for message in app.session.flashbag().get('status')%}
        <div class="alert alert-success">
            {{message}}
        </div>
    {% endfor%}
        <div class="panel panel-azul">
            <fieldest>
            <legend class="text-center header"><strong><span>Nuevo</span> de Departamentos</strong></legend>
                {{ form_start(form, { 'enctype':"multipart/form-data"}) }}
                <div class="container-fluid">
                  
                    <div class="row   text-justify">
                        <div class="col-md-2"></div>
                        <label class="col-sm-4 control-label">{{ form_label(form.responsable)}}</label>
                        <div class="col-sm-2 right" >{{form_widget(form.responsable)}}  </div>
                        <div class="col-sm-3 "></div>
                    </div>
                    <div class="row   text-justify">
                        <div class="col-md-2"></div>
                        <label class="col-sm-4 control-label">{{ form_label(form.telefono)}} </label>
                        <div class="col-sm-2 right" >{{ form_widget(form.telefono)}}  </div>
                        <div class="col-sm-3 "></div>
                    </div>
                    <div class="row   text-justify">
                        <div class="col-md-2"></div>
                        <label class="col-sm-4 control-label">{{ form_label(form.valor)}} </label>
                        <div class="col-sm-2 right" >{{ form_widget(form.valor)}}  </div>
                        <div class="col-sm-3 "></div>
                    </div>
                    <div class="row   text-justify">
                        <div class="col-md-2"></div>
                        <label class="col-sm-4 control-label">Empresa </label>
                        <div class="col-sm-2 right" >{{ form_widget(form.idEmpresa)}}  </div>
                        <div class="col-sm-3 "></div>
                    </div>
                     <div class="row   text-justify">
                        <div class="col-md-2"></div>
                        <label class="col-sm-4 control-label">Departamento </label>
                        <div class="col-sm-2 right" >{{ form_widget(form.departamento)}}  </div>
                        <div class="col-sm-3 "></div>
                    </div>    
                      <div class="row   text-justify">
                        <div class="col-md-2"></div>
                        <label class="col-sm-4 control-label">{{ form_label(form.nombreDep)}}</label>
                        <div class="col-sm-2 right" >{{ form_widget(form.nombreDep) }}</div>
                        <div class="col-sm-3 "></div>
                    </div>
                    <br>
                    <div class="row">
                        <input type="submit" value="Crear" class="btn btn-primary" />
                    </div></div>
                </fieldset>
     {{ form_end(form) }}
    <div class="col-md-2"> <a href="{{ path('admin_departamento_index') }}" class="btn btn-primary btn-sm">Atras</a></div>


</div>  </div>


{% endblock %}
