{% extends 'WsunBundle:Default:index.html.twig'%}

{% block bloque1 %}
    
    <div class="box">
    <div class="panel-body">
    <div class="panel2">
          
    <h3>Departamento</h3>
     <div class="row">
        <div class="col-xs-4 col-sm-3 col-lg-5 text-left">Nombre Departamento  </div>
        <div class="col-xs-5 col-sm-6 col-lg-4 text-left">{{ departamento.nombreDep }}</div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-sm-3 col-lg-5 text-left">Responsable Departamento  </div>
        <div class="col-xs-5 col-sm-6 col-lg-4 text-left">{{departamento.responsable}}</div>
    </div>
      <div class="row">
        <div class="col-xs-4 col-sm-3 col-lg-5 text-left">Teléfono  </div>
        <div class="col-xs-5 col-sm-6 col-lg-4 text-left">{{ departamento.telefono}}</div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-sm-3 col-lg-5 text-left">Empresa   </div>
        <div class="col-xs-5 col-sm-6 col-lg-4 text-left">{{ departamento.idEmpresa}}</div>
      </div>
 
<table>
    <tr><td> <a href="{{ path('admin_departamento_index') }}"><span class="glyphicon glyphicon-arrow-left"> volver</span></a></td></tr>
    <tr><td><a href="{{ path('admin_departamento_edit', { 'id': departamento.id }) }}"><span class="glyphicon glyphicon-arrow-left"> Editar</span></a></td></tr>
            <tr><td>
                    {{ form_start(delete_form) }}
                <input  class="glyphicon glyphicon-arrow-left" type="submit" value="Delete">
            {{ form_end(delete_form) }}
                    
        </td></tr>
</table>       
 </div> </div> 
   
{% endblock %}
