{% extends 'WsunBundle:Default:index.html.twig'%}

{% block bloque1 %}
    <div class="box">
    <div class="panel panel-azul">
    <fieldest>
    <legend class="text-center header">Departamento</legend>
        <div class="container-fluid">
        <div class="row text-justify">
          <div class="col-md-2"></div>
          <div class="col-md-4 b"><b>Nombre Departamento:</b></div>
          <div class="col-md-4 right" >{{ departamento.nombreDep }}</div>
          <div class="col-md-2"></div>
        </div>
        <div class="row text-justify">
          <div class="col-md-2"></div>
          <div class="col-md-4"><b>Responsable Departamento:</b></div>
          <div class="col-md-4">{{ departamento.responsable }}</div>
          <div class="col-md-2"></div>
        </div>
        <div class="row text-justify">
          <div class="col-md-2"></div>
          <div class="col-md-4 "><b>Teléfono:</b></div>
          <div class="col-md-4">{{ departamento.telefono }}</div>
          <div class="col-md-2"></div>
        </div>
        <div class="row text-justify">
          <div class="col-md-2"></div>
          <div class="col-md-4"><b>Valor:</b></div>
          <div class="col-md-4">{{ departamento.valor }}</div>
          <div class="col-md-2"></div>
        </div>
         <div class="row text-justify">
          <div class="col-md-2"></div>   
          <div class="col-md-4"><b>Empresa:</b></div>
          <div class="col-md-4">{{ departamento.idEmpresa }}</div>
          <div class="col-md-2"></div>
        </div>
     <br>
    <div class="row">
          <div class="col-md-4"><a href="{{ path('admin_departamento_index') }}" class="icon-backward btn btn-primary btn-sm">Back</a></div>
          <div class="col-md-4"><a href="{{ path('admin_departamento_edit', { 'id': departamento.id }) }}" class="btn btn-primary btn-sm">Edit</a></div>
          <div class="col-md-4">
               {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-primary btn-sm">
            {{ form_end(delete_form) }}
          </div>
        </div> 
         </div>
        </fieldest>
    
      </div> </div>

   
{% endblock %}
