{% extends 'WsunBundle:Default:index.html.twig'%}

{% block bloque1 %}
<div class="box">
                <h3> <strong><span>Edicion</span> de Empresas</strong></h3>
            
        {{ form_start(form,{'class':"form-horizontal",'method':"POST"}) }}  
     
    <div class="form-group col-lg-6">
        <div class="input-group-addon">{{ form_label(edit_form.ruc)}}<span class="text-danger">*</span></div>
        {{ form_widget(edit_form.ruc,{'attr':{'class':'form-control','placeholder':'Ruc'} }) }}
    </div>  
    <div class="form-group col-lg-6">
        <div class="input-group-addon">{{ form_label(edit_form.nombreEmp)}}<span class="text-danger">*</span></div>
        {{ form_widget(edit_form.nombreEmp,{'attr':{'class':'form-control','placeholder':'Ingrese el nombre de la empresa'} }) }}
    </div>
    <div class="form-group col-lg-6">
        <div class="input-group-addon">{{ form_label(edit_form.direccionEmp)}}<span class="text-danger">*</span></div>
        {{ form_widget(edit_form.direccionEmp,{'attr':{'class':'form-control','placeholder':'Ingrese la dirección'} }) }}
    </div>
    <div class="form-group col-lg-6">
        <div class="input-group-addon">{{ form_label(edit_form.telefonoEmp)}}<span class="text-danger">*</span></div>
        {{ form_widget(edit_form.telefonoEmp,{'attr':{'class':'form-control','placeholder':'Teléfono '} }) }}
    </div>
     <div class="form-group col-lg-6">
        <div class="input-group-addon">{{ form_label(edit_form.credito)}}</div>
        {{ form_widget(edit_form.credito,{'attr':{'class':'','placeholder':'Codigo de Orden'} }) }}
    </div>
    <div class="form-group col-lg-6">
        <div class="input-group-addon">{{ form_label(edit_form.email)}}<span class="text-danger">*</span></div>
        {{ form_widget(edit_form.email,{'attr':{'class':'form-control','placeholder':'E-mail'} }) }}
    </div>
     <div class="form-group col-lg-6">
        <div class="input-group-addon">{{ form_label(edit_form.ordenCompra)}}<span class="text-danger">*</span></div>
        {{ form_widget(edit_form.ordenCompra,{'attr':{'class':'form-control','placeholder':'Valor Limite'} }) }}
    </div>
   
    <div class="form-group col-lg-6">
        <div class="input-group-addon">{{ form_label(edit_form.limiteOrden)}}$ <span class="text-danger">*</span></div>
        {{ form_widget(edit_form.limiteOrden,{'attr':{'class':'form-control','placeholder':'Limite'} }) }}
    </div>      
    <div class="form-group col-lg-6">
        <div class="input-group-addon">{{ form_label(edit_form.idubicacion)}}</div>
        {{ form_widget(edit_form.idubicacion,{'attr':{'class':'form-control'} }) }}
    </div> 
    

 
<div class="form-group col-lg-6">
<input type="submit" value="Edit" />
  {{ form_end(edit_form) }}
    </div> 
 <table>
    <tr><td> <a href="{{ path('empresa_index') }}" ><i class="fa fa-camera-retro fa-lg" aria-hidden="true"></i> Back to the list</a></td></tr>
    
            <tr><td>
        {{ form_start(delete_form) }}
        <button type="submit" ><i class="fa fa-camera-retro fa-lg" aria-hidden="true"></i> Delete</button>
        {{ form_end(delete_form) }}
                    
        </td></tr>
</table> 
       
 </div> </div> 
  {% endblock %}
  {% block javascripts %}
      {{ parent() }}
<script type="text/javascript">
   
     $(window).ready(function(){
         
      if($('#wsunbundle_empresa_credito').prop('checked')) {
               $('#wsunbundle_empresa_ordenCompra').removeAttr("disabled"); 
            }else{
                $("#wsunbundle_empresa_ordenCompra").attr('disabled','disabled');    
            }
      $("#wsunbundle_empresa_credito").change(function(){
          if ($(this).is(':checked')) {
            $('#wsunbundle_empresa_ordenCompra').removeAttr("disabled");  
            }else{
            $("#wsunbundle_empresa_ordenCompra").attr('disabled','disabled'); 
            }
      });
    }); 
 
  
</script>
{% endblock %}
