{% extends 'WsunBundle:Default:index.html.twig'%}
{% block bloque1 %}
    <div class="box">
    <div class="panel-body">
    <div class="panel2">
            <div class="panel-heading">
                <h3> <strong><span>Edicion</span> de Empresas</strong></h3>
            </div> 
        {{ form_start(edit_form) }}
 <div class="row">
  <div class="col-xs-4 col-sm-3 col-lg-5 text-left">{{ form_label(edit_form.ruc)}} </div>
  <div class="col-xs-5 col-sm-6 col-lg-4 text-left">{{ form_widget(edit_form.ruc) }}</div>
</div>        
<div class="row">
  <div class="col-xs-4 col-sm-3 col-lg-5 text-left">{{ form_label(edit_form.nombreEmp)}}  </div>
  <div class="col-xs-5 col-sm-6 col-lg-4 text-left">{{form_widget(edit_form.nombreEmp)}}</div>
</div>
<div class="row">
  <div class="col-xs-4 col-sm-3 col-lg-5 text-left">{{ form_label(edit_form.telefonoEmp)}}   </div>
  <div class="col-xs-5 col-sm-6 col-lg-4 text-left">{{ form_widget(edit_form.telefonoEmp)}}</div>
</div>
<div class="row">
  <div class="col-xs-4 col-sm-3 col-lg-5 text-left">{{ form_label(edit_form.direccionEmp)}}   </div>
  <div class="col-xs-5 col-sm-6 col-lg-4 text-left">{{ form_widget(edit_form.direccionEmp)}}</div>
</div>
<div class="row">
  <div class="col-xs-4 col-sm-3 col-lg-5 text-left">{{ form_label(edit_form.email)}} </div>
  <div class="col-xs-5 col-sm-6 col-lg-4 text-left">{{ form_widget(edit_form.email)}}</div>
</div>        
<div class="row">
  <div class="col-xs-4 col-sm-3 col-lg-5 text-left">{{ form_label(edit_form.ordenCompra)}} </div>
  <div class="col-xs-5 col-sm-6 col-lg-4 text-left">{{ form_widget(edit_form.ordenCompra)}}</div>
</div>        
<div class="row">
  <div class="col-xs-4 col-sm-3 col-lg-5 text-left">{{ form_label(edit_form.credito)}} </div>
  <div class="col-xs-5 col-sm-6 col-lg-4 text-left">{{ form_widget(edit_form.credito)}}</div>
</div> 
<div class="row">
  <div class="col-xs-4 col-sm-3 col-lg-5 text-left">{{ form_label(edit_form.limiteOrden)}} </div>
  <div class="col-xs-5 col-sm-6 col-lg-4 text-left">{{ form_widget(edit_form.limiteOrden)}}</div>
</div> 
<div class="row">
  <div class="col-xs-4 col-sm-3 col-lg-5 text-left">{{ form_label(edit_form.ubicacion)}}  </div>
  <div class="col-xs-5 col-sm-6 col-lg-4 text-left">{{ form_widget(edit_form.ubicacion)}}</div>
</div> 
<div class="row">
  <div class="col-xs-4 col-sm-3 col-lg-5 text-left">{{ form_label(edit_form.idubicacion)}}  </div>
  <div class="col-xs-5 col-sm-6 col-lg-4 text-left">{{ form_widget(edit_form.idubicacion)}}</div>
</div> 
<div class="row">
  <div class="col-xs-4 col-sm-3 col-lg-5 text-left">Límite de Orden: </div>
  <div class="col-xs-5 col-sm-6 col-lg-4 text-left">{{ empresa.limiteOrden }}</div>
</div> 
<div class="row">
<input type="submit" value="Edit" />
</div>
  {{ form_end(edit_form) }}
    </div> 
 <table>
    <tr><td> <a href="{{ path('empresa_index') }}" ><i class="fa fa-camera-retro fa-lg" aria-hidden="true"></i> Back to the list</a></td></tr>
    
            <tr><td>
        {{ form_start(delete_form) }}
        <button type="submit" ><i class="fa fa-camera-retro fa-lg" aria-hidden="true"></i> Delete</button>
        {{ form_end(delete_form) }}
                    
        </td></tr>
</table> 
       
 </div> </div> 
{% endblock %}
