{% extends 'WsunBundle:Default:index.html.twig'%}

{% block bloque1 %}
<div class="table-responsive">
    <div class="panel-heading">
                <strong><span>Lista</span> de Empresas</strong>
            </div> 
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ruc</th>
                <th>Nombre Empresa</th>
                <th>Tel&#233;fono</th>
                <th>Direcci&#243;n</th>
                <th>Email</th>
              
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for empresa in empresas %}
            <tr>
                <td><a href="{{ path('empresa_show', { 'id': empresa.id }) }}">{{ empresa.id }}</a></td>
                <td>{{ empresa.ruc }}</td>
                <td>{{ empresa.nombreEmp }}</td>
                <td>{{ empresa.telefonoEmp }}</td>
                <td>{{ empresa.direccionEmp }}</td>
                <td>{{ empresa.email }}</td>
                
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('empresa_show', { 'id': empresa.id }) }}">
                                <span class="glyphicon glyphicon-plus"> Ver</span></a>
                        </li>
                        <li>
                            <a href="{{ path('empresa_edit', { 'id': empresa.id }) }}">
                                <span class="glyphicon glyphicon-pencil"> Ver</span></a>
                                </a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            <a href="{{ path('empresa_new') }}"> <span class="glyphicon glyphicon-file"> Nuevo</span></a>
    </div>        
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>    
    $('#btn1').on("click",function(){
        
    });
    </script>
    
{% endblock %}