{% extends 'WsunBundle:Default:index.html.twig'%}

{% block bloque1 %}
<div class="box">
                <h4> <strong><span>Nueva empresa</strong></h4>
            
        {{ form_start(form,{'class':"form-horizontal",'method':"POST"}) }}  
     
    <div class="form-group col-lg-6">
        <div class="input-group-addon">{{ form_label(form.ruc)}}<span class="text-danger">*</span></div>
        {{ form_widget(form.ruc,{'attr':{'class':'form-control','placeholder':'Ruc'} }) }}
    </div>  
    <div class="form-group col-lg-6">
        <div class="input-group-addon">{{ form_label(form.nombreEmp)}}<span class="text-danger">*</span></div>
        {{ form_widget(form.nombreEmp,{'attr':{'class':'form-control','placeholder':'Ingrese el nombre de la empresa'} }) }}
    </div>
    <div class="form-group col-lg-6">
        <div class="input-group-addon">{{ form_label(form.direccionEmp)}}<span class="text-danger">*</span></div>
        {{ form_widget(form.direccionEmp,{'attr':{'class':'form-control','placeholder':'Ingrese la dirección'} }) }}
    </div>
    <div class="form-group col-lg-6">
        <div class="input-group-addon">{{ form_label(form.telefonoEmp)}}<span class="text-danger">*</span></div>
        {{ form_widget(form.telefonoEmp,{'attr':{'class':'form-control','placeholder':'Teléfono '} }) }}
    </div>
    <div class="form-group col-lg-6">
        <div class="input-group-addon">{{ form_label(form.email)}}<span class="text-danger">*</span></div>
        {{ form_widget(form.email,{'attr':{'class':'form-control','placeholder':'E-mail'} }) }}
    </div>
     <div class="form-group col-lg-6">
        <div class="input-group-addon">{{ form_label(form.ordenCompra)}}<span class="text-danger">*</span></div>
        {{ form_widget(form.ordenCompra,{'attr':{'class':'form-control','placeholder':'Codigo de Orden'} }) }}
    </div>
    <div class="form-group col-lg-6">
        <div class="input-group-addon">{{ form_label(form.credito)}}</div>
        {{ form_widget(form.credito,{'attr':{'class':'form-control','placeholder':'Codigo de Orden'} }) }}
    </div>
    <div class="form-group col-lg-6">
        <div class="input-group-addon">{{ form_label(form.limiteOrden)}}$ <span class="text-danger">*</span></div>
        {{ form_widget(form.limiteOrden,{'attr':{'class':'form-control','placeholder':'Codigo de Orden'} }) }}
    </div>      
    <div class="form-group col-lg-6">
        <div class="input-group-addon">{{ form_label(form.idubicacion)}}</div>
        {{ form_widget(form.idubicacion,{'attr':{'class':'form-control','placeholder':'Codigo de Orden'} }) }}
    </div> 
    

 
<div class="form-group col-lg-6">
<input type="submit" value="Create" />
<a href="{{ path('empresa_index') }}">Volver</a>
</div>
  {{ form_end(form) }}
    
    
 </div> 
{% endblock %}
